*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Container{
    width:100%;
    height:100vh;
    background:linear-gradient(34deg ,#F8B195,#C06C84);
    justify-content: center;
    display: flex;
}
.Forgot{
    width:30rem;
    height:25rem;
    margin:9% auto; 
    border-radius: 30PX;

    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-left: 2px solid rgba(255,255,255,.2);
    border-top: 2px solid rgba(255,255,255,.2);
}
.Forgot h1{
    color:white;
    font-size: 40px;
    opacity:.8;
    text-align:center;
    margin-top:20px;
}
.Forgot #Please{
    margin-top:30px;
    margin-left:50px;
}
label{
    margin-top:20px;
    margin-left:50px;
}
.Forgot input{
    width:60%;
    margin:20px auto;
    margin-left:95px;
    border:none;
    outline:none;
    background:white;
    border:2.5px solid rgba(255, 255, 255, 0.955);
    opacity:.6;
    border-radius: 10px;
}
.Forgot #Login{
    margin-top:20px ;
    margin-left:40%;
}
.Forgot #Login a{
    text-decoration: none;
    color:white;
}